<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue starter</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="shopping-list">
        <h3>{{header.toLocaleUpperCase() }}</h3>
        <input type="text" v-model="newItem" placeholder="add new Item">
        <ul>
          <li v-for="item in items">{{item}}</li>
        </ul>
    </div>
 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var shoppingList = new Vue({
        el: '#shopping-list',
        data : {
          header : 'Shopping List App',
          items :[
            '1 cup of garri',
            '10 bags of rice',
            '5 tubers of yam'
          ]
        }
        
      })
    </script>
  </body>
</html>